/lib/*
/build*
CMakeLists.txt.user

projects/android-eclipse/bin/*
projects/android-eclipse/gen/*
projects/android-eclipse/obj/*
projects/android-eclipse/libs/*
projects/android-eclipse/.settings/*

projects/ios-xcode/luna2d.xcodeproj/project.xcworkspace/*
projects/ios-xcode/luna2d.xcodeproj/xcuserdata/*
projects/ios-xcode/build/*

tools/Emulator/build*
tools/Emulator/Emulator.exe
tools/Emulator/Emulatord.exe
tools/Emulator/src/Emulator.pro.user

tools/Pipeline/build*
tools/Pipeline/Pipeline.exe
tools/Pipeline/Pipelined.exe
tools/Pipeline/src/Pipeline.pro.user

samples/FlappyLuna/project-android/bin/*
samples/FlappyLuna/project-android/gen/*
samples/FlappyLuna/project-android/obj/*
samples/FlappyLuna/project-ios/FlappyLuna.xcodeproj/project.xcworkspace/*
samples/FlappyLuna/project-ios/FlappyLuna.xcodeproj/xcuserdata/*