<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="34c4f792-a069-431b-b15a-6bf5a47b70ef"
            Publisher="CN=Stepan"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>WpTestApp.Windows</DisplayName>
    <PublisherDisplayName>Stepan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="WpTestApp_Windows.App">
        <VisualElements
            DisplayName="WpTestApp.Windows"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="WpTestApp.Windows"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>